{% set albumWithPhoto = 0 %}
{% if albums|length > 0 %}
	{% for i in range(0, albums|length - 1) %}
		{% if albums[i].getPhotos() is not empty %}
			{% set albumWithPhoto = 1 %}
			{% set cardImgPath = albums[i].getPhotos()|length == 0 ? asset( 'assets/images/missing-image.png') : path("app_file",
			{"title": random(albums[i].getPhotos()).getTitle()} ) %}
			{% include "/home/_atropos-card.html.twig" with {
				'card_controller' : "album",
				'card_id' : albums[i].getId(),
				'card_img_path' : cardImgPath,
				'card_name' : albums[i].getName(),
				'card_photo_count' : "",
				} %}
			{% else %}
			{# Rien Afficher #}
		{% endif %}
	{% endfor %}
	{% if albumWithPhoto < 1 %}
		<div class="h-[400px] md:h-full md:w-full text-center flex justify-center items-center" style="height: 100% !important">
			<p>Aucun album n'a encore été ajouté</p>
		</div>
	{% endif %}
{% else %}
	<div class="h-[400px] md:h-full md:w-full text-center flex justify-center items-center">
		<p>Aucun album n'a encore été ajouté</p>
	</div>
{% endif %}
