{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
<div class="snap-y snap-mandatory h-screen w-screen overflow-y-scroll">
	<section id="section1" class="h-screen bg-gray-100 w-screen snap-start flex ">
		<div class="flex items-center justify-center w-[50%]">
			<div id="scene" class="h-full w-full">
				<!-- Image top left -->
				<div class="absolute top-[10%] left-[15%] bottom-auto right-auto w-auto z-10" data-depth="-0.5">
					<div class="relative">
						<img class="max-w-[10vw] max-h-[10vh]" src="{{ asset('assets/images/image3.jpeg')}}">
					</div>
				</div>
				<!-- Image center -->
				<div class="absolute top-1/4 left-1/4 bottom-auto right-auto w-auto" data-depth="0.1">
					<div class="relative">
						<img class="max-w-[40vw] max-h-[40vh]" src="{{ asset('assets/images/image1.jpeg')}}">
					</div>
				</div>
				<!-- Image bottom left -->
				<div class="absolute top-[60%] left-[17%] bottom-auto right-auto w-auto z-10" data-depth="-0.2">
					<div class="relative">
						<img class="max-w-[20vw] max-h-[20vh]" src="{{ asset('assets/images/image2.jpeg')}}">
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-col items-center justify-center w-[50%] gap-3 z-20 ">
			<h3 class="text-3xl uppercase tracking-[0.5rem] text-[#333] font-light drop-shadow-2xl shadow-white">
				Emmanuel Godard
			</h3>
			<span class="text-sm uppercase tracking-[0.25rem] font-light">Creative photography</span>
		</div>
	</section>
	<section id="section2" class="h-screen bg-gray-300 w-screen snap-start">Section 2</section>
	<section id="section3" class="h-screen bg-gray-500 w-screen snap-start">Section 3</section>
	<section id="section4" class="h-screen bg-gray-700 w-screen snap-start">Section 4</section>
	<section id="section5" class="h-screen bg-gray-900 w-screen snap-start">Section 5</section>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

{% endblock %}