{% extends "base.html.twig" %}
{% block body %}
<ul id="myMenu">
	<li data-menuanchor="firstPage" class="active"><a href="#firstPage">First section</a></li>
	<li data-menuanchor="secondPage"><a href="#secondPage">Second section</a></li>
	<li data-menuanchor="thirdPage"><a href="#thirdPage">Third section</a></li>
	<li data-menuanchor="fourthPage"><a href="#fourthPage">Fourth section</a></li>
</ul>

<div id="fullpage2">
	<div class="section h-screen w-screen bg-gray-100" >Some section</div>
	<div class="section h-screen w-screen bg-gray-200">Some section</div>
	<div class="section h-screen w-screen bg-gray-300">Some section</div>
	<div class="section h-screen w-screen bg-gray-400">Some section</div>
</div>
 fekp;efkfe

<script type="text/javascript">

$(document).ready(function () {
	$('#fullpage2').fullpage({
		menu: "#myMenu",
		anchors: ['firstPage', "secondPage", "thirdPage", "fourthPage"],
		navigation: true,
		scrollingSpeed: 1000,
		dragAndMove: true,
		loopTop: false,
		loopBottom: true,
	});
});
</script>
{% endblock body %}