{% extends '/admin/dashboard.html.twig' %}

{% block title %}Modification d'un réseau social{% endblock %}

{% block main_content %}
    <h1>Modifier le réseau social</h1>

    {{ include('admin/footer_links/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <div class="actionButtons flex flex-row my-6">
        <a href="{{ path('app_admin_footer_links_index') }}" class="back-button">Revenir en arrière</a>
        {% include('admin/_delete_form.html.twig') with {
            'entity_delete_path' : 'app_admin_footer_links_delete',
            'entity' : footer_link,
        } %}
    </div>
{% endblock %}
