<label class="photoToDeleleContainer group-hover:opacity-100 drop-shadow-md">
  <input class="photoToDelete" name="photoToDelete[]" type="checkbox" data-photo-id = {{ photo_id }} data-parent-id = {{ parent_id }}>
  <div class="checkmark"></div>
</label>