// Parallax effet
@import 'atropos/scss';

@import 'scss/base.scss';
@import 'scss/admin.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

// google font
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;900&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

.fp-enabled body {
    overflow: auto !important;
    height: auto !important;
}

p {
    font-family: 'Merriweather', serif;
    color: #333;
}

h4 {
    transition: all 0.5s ease-in-out;
}


// Sections (to override fullpage.js

.swiper {

    h3,
    h4 {
        text-shadow: 1px 1px 20px black, 0 0 10em black, 0 0 0.92em black;
    }
}

// .section-home .fp-tableCell{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.section-works .fp-tableCell,
.section-albums .fp-tableCell,
.section-contacts .fp-tableCell {
    align-items: center;
    justify-content: center;
}

.fp-tableCell {
    display: flex !important;
    min-height: 100vh;
    height: fit-content !important;
    justify-content: space-evenly;
    align-items: center;
}



// footer 

footer {
    z-index: 100;
    transition: transform 0.5s ease-in-out;
    height: 100px;
    background: linear-gradient(to bottom, rgba(243, 243, 245, 0) 0%, #f3f3f5 100%) !important;

    p {
        font-family: 'Mulish', sans-serif;
        color: #333
    }

    svg,
    svg path {
        transition: all 0.5s ease-in-out;
    }

    svg:hover,
    svg:hover path {
        opacity: 0.7;
    }
}

.sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11px;
    width: 40px;
    background: rgba(255, 0, 0, 0);
    // background: red;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.sidebar span {
    display: block;
    background: #cdcdcd;
    height: 2px;
    width: 30px;
    border-radius: 2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.sidebar .active span {
    background: black;
}

// ATROPOS (PARALLAX Section 1)
.atropos-section-1 {
    .atropos-scale .atropos-inner {
        img {
            transition: all 0.8s ease;
        }
    }

    .atropos-scale:hover .atropos-inner {
        img {
            box-shadow: none ;
        }

    }
}

// ATROPOS (PARALLAX CARDS)
.atropos-works {

    &* {
        transition: all 1s ease-in-out;
    }
    .atropos-shadow {
        background: #000000c4;
    }

    img {
        transition: all 0.8s ease;
    }

    p {
        font-family: 'Mulish', sans-serif;
    }

    div {
        transition: all 0.8s ease;
    }


    .atropos-scale:hover .atropos-inner {
        img {
            filter: blur(1px) brightness(0.5) !important;
        }

        div {
            opacity: 1 !important;
        }
    }

}

// JS

$hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
$returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

.container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrap {
    margin: 10px;
    transform: perspective(800px);
    transform-style: preserve-3d;
    cursor: pointer;
    // background-color: #fff;

    &:hover {
        .card-info {
            transform: translateY(0);
        }

        .card-info p {
            opacity: 1;
        }

        .card-info,
        .card-info p {
            transition: 0.6s $hoverEasing;
        }

        .card-info:after {
            transition: 5s $hoverEasing;
            opacity: 1;
            transform: translateY(0);
        }

        .card-bg {
            transition:
                0.6s $hoverEasing,
                opacity 5s $hoverEasing;
            opacity: 0.8;
        }

        .card {
            transition:
                0.6s $hoverEasing,
                box-shadow 2s $hoverEasing;
            box-shadow:
                rgba(white, 0.2) 0 0 40px 5px,
                rgba(white, 1) 0 0 0 1px,
                rgba(black, 0.66) 0 30px 60px 0,
                inset #333 0 0 0 5px,
                inset white 0 0 0 6px;
        }
    }
}

.card {
    position: relative;
    flex: 0 0 240px;
    width: 500px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    background-position: center;
}

.card-bg {
    opacity: 0.5;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    transition:
        1s $returnEasing,
        opacity 5s 1s $returnEasing;
    pointer-events: none;
}

.card-info {
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(40%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);

    p {
        opacity: 0;
        text-shadow: rgba(black, 1) 0 2px 3px;
        transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    * {
        position: relative;
        z-index: 1;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent 0%, rgba(#000, 0.6) 100%);
        background-blend-mode: overlay;
        opacity: 0;
        transform: translateY(100%);
        transition: 5s 1s $returnEasing;
    }
}

.card-info h1 {
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 700;
    text-shadow: rgba(black, 0.5) 0 10px 10px;
}




$dark: #212121;
$light: #efefef;

@mixin btn($left, $top) {
    position: absolute;
    width: 60px;
    height: 60px;
    top: $top;
    left: $left;
    transition-duration: 0.5s;
    transform: scale(0.5);
}

@mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 30px;
    background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    content: "";
    top: $top;
}

@mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    content: "";
    top: $top;
}

.noScroll {
    transform: none !important;
}

.menuHamburger {
    z-index: 1001;
    @include btn(0px, 100px);

    .icon-left {
        @include icon(4px, 30px);
        left: 0px;

        &:before {
            @include icon-before(4px, 30px, -20px);
        }

        &:after {
            @include icon-after(4px, 30px, 20px);
        }

        &:hover {
            cursor: pointer;
        }
    }

    .icon-right {
        @include icon(4px, 30px);
        left: 30px;

        &:before {
            @include icon-before(4px, 30px, -20px);
        }

        &:after {
            @include icon-after(4px, 30px, 20px);
        }
    }

    &.open {
        .icon-left {
            transition-duration: 0.5s;
            background: transparent;

            &:before {
                transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
            }

            &:after {
                transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
            }
        }

        .icon-right {
            transition-duration: 0.5s;
            background: transparent;

            &:before {
                transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
            }

            &:after {
                transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }

    // box-shadow: rgba(255, 255, 255, 0.429) 0px 22px 70px 4px;
    background-color: #f3f4f68d;
    width: 60px;
    height: 60px;
    width: 100px;
    height: 100px;

    .icon-left {
        top: 30px;
        left: auto;
        top: 50%;
        right: 50%;
    }

    .icon-right {
        top: 30px;
        left: 30px;
        top: 50%;
        left: 50%;
    }
}



// OVERLAY

.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(243, 243, 245, 0.9);
    // background: red;
    z-index: 0;
    transition: all 0.5s ease-in-out;
    scale: 0;
    box-shadow: rgb(243, 243, 245, 0.9) 0px 100px 360px 0px, rgb(243, 243, 245, 0.9) 0px 100px 100px 100px;
}

.showOverlay {
    scale: 1;
    opacity: 1;
    z-index: 1000;
}

.menuPage {
    span {
        position: relative;
        color: #000;
        text-decoration: none;
    }

    span:hover {
        color: #000;
    }

    span::before {
        content: "";
        position: absolute;
        display: block;
        width: calc(100% - 0.5rem);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform: scaleX(0) translateY(-50%);
        transition: transform 0.5s ease;
    }

    span:hover::before {
        transform: scaleX(1);
        text-indent: -0.5rem;
        direction: ltr;
    }

    ul {
        align-items: center;
    }

    span {
        letter-spacing: 0.5rem;
        color: #333;
        font-weight: 300;
        font-size: x-large;
        transition: all 0.5s ease;
        text-transform: uppercase;
    }

    .active::before {
        transform: scaleX(1);
        text-indent: -0.5rem;
        direction: ltr;
    }
}

// Swiper

.swiper-pagination {
    bottom: 5dvh !important;

    span {
        filter: drop-shadow(2px 2px 10px rgb(0, 0, 0));
    }
}

.swiper-pagination-bullet {
    background-color: white;
    width: 20px;
    height: 20px;
    margin: 0 15px !important;
}

@media (max-width: 768px) {
    .section-home .fp-tableCell {
        flex-direction: column-reverse !important;
    }

    .fp-tableCell {
        flex-direction: column !important;
        height: auto !important;
    }

    .section-works div div {
        justify-content: initial !important;
    }

    h4 {
        display: flex;
        position: static !important;
        justify-content: center;
        margin: 30px 0;
    }

    // footer
    .hide {
        transform: translateY(100%) !important;
    }

    .atropos-text {
        left: 50%;
        transform: translateX(-50%);
    }

    .section-works .atropos-scale .atropos-inner {
        img {
            filter: blur(1px) brightness(0.6);
        }

        div {
            opacity: 1 !important;
        }
    }
}





.text-clamp {
    font-size: clamp(1rem, 2vw, 1.2rem) !important;
}

.text-clamp-xl {
    font-size: clamp(1.2rem, 2.5vw, 2rem) !important;
}


// LOGIN FORM



.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

textarea:focus,
input:focus {
    outline: none;
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    -webkit-box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    margin-bottom: 50px;
    border: none;
    outline: none;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button1:hover {
    background-color: black;
    color: white;
}


// SPINNER
.spinner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    &.hide{
        opacity: 0;
    }
}

.spinner svg {
    width: 3.25em;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: rotate4 2s linear infinite;
    animation: rotate4 2s linear infinite;
}

.spinner svg circle {
    fill: none;
    stroke: gray;
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    -webkit-animation: dash4 1.5s ease-in-out infinite;
    animation: dash4 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate4 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate4 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}

.see-more-button {
    filter: grayscale(1);
    width: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: #616161;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    -webkit-transform: translate(0px, 0px) rotate(0deg);
        -ms-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
            box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);

        &:hover{
            color: #516d91;
            background-color: #E5EDF5;
            -webkit-box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
                    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
        }
        &:active{
            -webkit-box-shadow: none;
                    box-shadow: none;
        }
}


// ISOTOPE FILTERS

.is-checked {
    background-color: #28F;
  }


.swiper2{
    .swiper-button-next,
    .swiper-button-prev{
            height: 100%;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(243, 244, 246) 70%);
            width: 100px;
            right: 0;
            top: 30px;
            color: black;
    }
    .swiper-button-next{
        &::after{
            position: absolute;
            right: 30%;
            left: auto;
        }
    }
    .swiper-button-prev{
        left: 0;
        background: linear-gradient(90deg, rgb(243, 244, 246) 30%, rgba(0, 0, 0, 0) 100%);
        &::after{
            position: absolute;
            right: auto;
            left: 30%;
        }
    }
}