{% extends '/admin/dashboard.html.twig' %}

{% block title %}Edit Album{% endblock %}

{% block main_content %}
    <h1>Edit Album</h1>

        {% set albumFolder = album.getUniqId()|upper %}
    


    {{ include('admin/album/_form.html.twig', {'button_label': 'Update'}) }}



	<div class="actionButtons flex flex-row my-6">
        <a href="{{ path('app_admin_album_index') }}" class="back-button">Revenir en arrière</a>
        {{ include('admin/album/_delete_form.html.twig') }}
    </div>

    <script>
	var newPhotosPrototype = document.querySelector('#album_newPhotos').dataset.prototype;

    // Remplacer __name__ par un nom unique
    var uniqueId = new Date().getTime(); // Utiliser un timestamp comme identifiant unique
    var newPhotosPrototypeModified = newPhotosPrototype.replace(/__name__/g, uniqueId);

    var tempDiv = document.createElement('div');
    tempDiv.innerHTML = newPhotosPrototypeModified;

    var newPhotoPrototypeElement = tempDiv.firstChild;

    document.querySelector(".newPhotosContainer").appendChild(newPhotoPrototypeElement);

    document.querySelector(".btn-generate-pass").addEventListener("click", function(){
        var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$%&ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                var passwordLength = 12;
                var password = "";
        for (var i = 0; i <= passwordLength; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            password += chars.substring(randomNumber, randomNumber +1);
        }
        document.getElementById("album_password").value = password;
    });

    document.addEventListener('DOMContentLoaded', function() {
        const checkboxes = document.querySelectorAll('.favorite-picture');

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                parent_id = checkbox.dataset.parentId;
                photo_id = checkbox.dataset.photoId;

                checkedCheckboxes = Array.from(checkboxes).filter(function(cb) {
                    return cb.checked;
                });
                checkedCheckboxes.forEach(function(otherCheckbox) {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.checked = false;
                    }
                });
                // Determine the value to send in the AJAX request
                const dataToSend = {
                    photoId: this.checked ? photo_id : null // Send photo_id if checked, otherwise send null
                };

                // Send an AJAX request to update favorite picture
                $.ajax({
                    url: '/admin/album/' + parent_id + '/update/favorite', // Replace with your actual route
                    type: 'POST',
                    data: dataToSend
                });
            });
        });
    });
</script>
{% endblock %}
