<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />

        <link rel="icon" href="{{ asset('assets/images/godard.ico') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    </head>
    <body>
        
        <link href="http://zikro.gr/dbg/html/fullPage/jquery.fullpage.css" rel="stylesheet" />
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
        <script src="http://zikro.gr/dbg/html/fullPage/jquery.fullpage.js"></script>  
        {% block body %}
        {% endblock %}
    </body>
</html>
